.staticImage {
  position: fixed;
  bottom: 0;
  pointer-events: none;
}

.image0 {
  right: 0px;
  bottom: -6px;
}

.image1 {
  right: -10px;
  bottom: 0px;
}

.image2 {
  right: -5px;
  bottom: 0px;
}

.live2dCanvasContainer {
  user-select: none;
  pointer-events: none;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
  font-size: 0;
  opacity: 0.5;
}

.live2d {
  position: relative;
}

.wanko {
  right: -60px;
  bottom: -70px;
}

.cat {
  right: -80px;
  bottom: -10px;
}
