.content {
  height: calc(100vh - 40px);
}

.box {
  height: 300px;
}

.beian {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 12px;
}